mixin block-place
	.block-place.block
		.block-place__title Положение
			+block-place-tile
		.block-place__control
			ol.block-place__control__buttonset
				li.block-place__control__buttonset-item#top-left
				li.block-place__control__buttonset-item#top
				li.block-place__control__buttonset-item#top-right
				li.block-place__control__buttonset-item#center-left
				li.block-place__control__buttonset-item#center
				li.block-place__control__buttonset-item#center-right
				li.block-place__control__buttonset-item#bottom-left
				li.block-place__control__buttonset-item#bottom
				il.block-place__control__buttonset-item#bottom-right
			.block-place__control__spinners
				form.block-place__control__spinners-item
					label(for="spinner-axis-x" class="axis-label") X
					input(type="text" id="x-value" class="block-place__control__spinners-item-txt" name="x-value" value="0" maxlength="3" disabled)
					div(class="block-place__control__spinners-item-buttons" id="x-buttons")
						.up-button
						.down-button
				form(class="block-place__control__spinners-item")
					label(for="axis-x" class="axis-label") Y
					input(type="text" id="y-value" class="block-place__control__spinners-item-txt" name="y-value" value="0" maxlength="3" disabled)
					div(class="block-place__control__spinners-item-buttons" id="y-buttons")
						.up-button
						.down-button