.block-place{
	padding-left: 20px;
}

.block-place__title{
	font: 14px/14px roboto_ltregular;
	text-align: left;	
	color: #2E3641;
	margin: 20px 0px 20px 0px;
	margin-bottom: 37px;	
	padding-top: 17px;
}

.block-place__control__buttonset{
	@include clearfix;
	width: 98px;
	height: 98px;
	border: 1px #9eb2c0 solid;
	border-radius: 3px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	float: left;
}

.block-place__control__buttonset-item{
	display: block;
	width: 34px;
	height: 34px;
	background-color: #dbe1e8;
	float: left;
	border: 1px #9eb2c0 solid;
	margin: -1px;
}

.block-place__control__buttonset-item.ui-selected {
	background-color: #f97e76;
}

.block-place__control__spinners{
	float: left;
}

.block-place__control__spinners-item{
	@include clearfix;
	margin-bottom: 10px;
}

.axis-label{
	font: 15px/14px roboto_ltregular;
	color: #2E3641;
	height: 45px;
	float: left;
	vertical-align: middle;
	margin-left: 40px;
	line-height: 45px;
}

.block-place__control__spinners-item-txt{
	width: 45px;
	height: 45px;
	border: 1px #9eb2c0 solid;
	background-color: #f1f1f5;
	border-radius: 3px;
	font: 23px roboto_ltregular;
	text-align: center;
	color: #444a53; 
	float: left;
	margin-left: 9px; 
}

.block-place__control__spinners-item-buttons{
	display: inline-block;
	position: relative;
	height: 45px;
	float: left;
	margin-left: 6px;
	cursor: pointer;
}

.up-button{
	 background-image: url("../img/arrow-up.png");
	 display: block;
	 width: 13px;
	 height: 8px;
	 position: absolute;
	 top: 5px;
}

.down-button{
	 background-image: url("../img/arrow-down.png");	 
	 display: block;
	 width: 13px;
	 height: 8px;
	 position: absolute;
	 top: 35px;
}