.sidebar {
  float: left;
  width: 258px;
  height: 670px;
  background-color: #F1F1F5;
}
.sidebar__title {
  color: #2e3641;
  font: 26px/71px roboto_ltregular;
  margin-bottom: 0px;
  text-align: center;
}