mixin block-place-tile
	.block-place__tile
		input(class="block-place__tile__tiled" type="radio" id="tiled" name="tile")
		label(class="block-place__tile__tiled__btn" for="tiled")
		input(class="block-place__tile__untiled" type="radio" id="untiled" checked="checked" name="tile")
		label(class="block-place__tile__untiled__btn active-btn" for="untiled")