.content {
  float: left;
  position: relative;
  width: 700px;
  height: 670px;
  background: rgba(46, 54, 65, 0.64);
}
.content__title {
  color: #ffffff;
  padding-left: 25px;
  font: 36px/56px segoe_uil;
}