include blocks/_blocks
doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		link(href='css/style.css' rel='stylesheet')
	+page
		+wrapper
			+content
				+block-result
			+sidebar
				+block-upload
				+block-place
				+block-transparency
				+block-download
		+footer
		script(src="js/vendor/jquery/dist/jquery.js")
		script(src="js/vendor/jquery.ui/core.js")
		script(src="js/vendor/jquery.ui/widget.js")
		script(src="js/vendor/jquery.ui/mouse.js")
		script(src="js/vendor/jquery.ui/button.js")
		script(src="js/vendor/jquery.ui/dialog.js")
		script(src="js/vendor/jquery.ui/position.js")
		script(src="js/vendor/jquery.ui/selectable.js")
		script(src="js/vendor/jquery.ui/slider.js")
		script(src="js/vendor/jquery-file-upload/js/jquery.fileupload.js")
		script(src="js/blocks.js")