include blocks/_blocks
doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        link(href='css/style.css' rel='stylesheet')
    +page
        +wrapper
            +content
            +sidebar
                +block-upload
                +block-place
                +block-transparency
                +block-download
        +footer