.block-transparency__title{
  font-size: 14px;
  color: #2e3641;
}
.block-transparency__slider{
  clear: both;
  overflow: hidden;
  width: 218px;
  margin: 0 auto;
}
.block-transparency__slider__line{
  width: 218px;
  height: 3px;
  background: #9eb2c0;
}