.block-transparency{
  overflow: hidden;
  clear: both;
}

.block-transparency__title{
  font-family: 'roboto_ltregular';
  text-align: left;
  font-size: 14px;
  color: #2e3641;
  margin: 20px 0 20px 20px;
}
<<<<<<< HEAD
.block-transparency__slider-container{
=======

.block-transparency__slider{
>>>>>>> feature/block-transparency-js
  position: relative;
  overflow: hidden;
  padding: 5px 0 11px;
  margin-bottom: 20px;
}
<<<<<<< HEAD
.block-transparency__slider{
=======

.block-transparency__slider__line{
>>>>>>> feature/block-transparency-js
  margin: 5px 0 0 22px;
  height: 3px;
  width: 218px;
  background-color: #9eb2c0;
  background-size: 50% 9px;
}

.block-transparency__slider-container .ui-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 120px;
  top: -9px;
  cursor: move;
  background: #9eb2c0;
  border: 6px solid #dbe1e8;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
}

.block-transparency__slider__round:hover{
 opacity: 1;
}