include page/_page
include wrapper/_wrapper
include content/_content
include sidebar/_sidebar
include footer/_footer

include block/_block
include block-upload/_block-upload
include block-place/_block-place
include block-transparency/_block-transparency
include block-download/_block-download
include block-result/_block-result