.block-lang {
  display: block;
  left: 0;
  position: fixed;
  top: 103px;
}
.block-lang__item {
  position: relative;
  background-color: rgba(241, 241, 245, 0.7);
  color: #8e9298;
  cursor: pointer;
  display: block;
  font-family: segoe_uil,sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 1px;
  padding: 7px 2px;
  text-align: center;
  width: 43px;
}
.block-lang__item:hover {
  color: #444a53;
}