.block-share {
	position: fixed;
	left: 0;
	top: 189px;
	z-index: 100;
	@include clearfix;
}
.block-share__social-btns {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	display: none;
}
.block-share__social-btns__btn {
	position: relative;
	display: block;
	float: none;
	background: rgba(255,255,255,0.6);
	width: 43px;
	height: 41px;
}
.block-share__social-btns__btn__link {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	text-indent: -9999px;
	opacity: .6;
	&:hover {
		opacity: 1;
	}
}
.social-btns__toggler {
	float: right;
	&:before {
		@extend .block-share__social-btns__btn__link;
		content: '';
		background: url(../img/share-toggler.png) no-repeat center center;
	}
}
.fb { background: url(../img/fb.png) no-repeat center center; }
.tw { background: url(../img/tw.png) no-repeat center center; }
.vk { background: url(../img/vk.png) no-repeat center center; }