mixin block-share
	.block-share
		ul.block-share__social-btns
			li.block-share__social-btns__btn
				a(class="block-share__social-btns__btn__link fb" href="#") Facebook
			li.block-share__social-btns__btn
				a(class="block-share__social-btns__btn__link tw" href="#") Twitter
			li.block-share__social-btns__btn
				a(class="block-share__social-btns__btn__link vk" href="#") Vkontakte
		.block-share__social-btns__btn.social-btns__toggler