mixin block-share
	.block-share
		ul.block-share__social-btns
			li.block-share__social-btns__btn.fb
			li.block-share__social-btns__btn.tw
			li.block-share__social-btns__btn.vk
		.block-share__social-btns__btn.social-btns__toggler