
@font-face {
    font-family: 'roboto_bkbold';
    src: url('../fonts/roboto-black.eot');
    src: url('../fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black.woff') format('woff'),
         url('../fonts/roboto-black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_bkbold_italic';
    src: url('../fonts/roboto-blackitalic.eot');
    src: url('../fonts/roboto-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-blackitalic.woff') format('woff'),
         url('../fonts/roboto-blackitalic.ttf') format('truetype');
    font-weight: bold;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_cnbold';
    src: url('../fonts/roboto-boldcondensed.eot');
    src: url('../fonts/roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-boldcondensed.woff') format('woff'),
         url('../fonts/roboto-boldcondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_cnbold_italic';
    src: url('../fonts/roboto-boldcondenseditalic.eot');
    src: url('../fonts/roboto-boldcondenseditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-boldcondenseditalic.woff') format('woff'),
         url('../fonts/roboto-boldcondenseditalic.ttf') format('truetype');
    font-weight: bold;

}


@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light.eot');
    src: url('../fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light.woff') format('woff'),
         url('../fonts/robotocondensed-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/robotocondensed-lightitalic.eot');
    src: url('../fonts/robotocondensed-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-lightitalic.woff') format('woff'),
         url('../fonts/robotocondensed-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic.eot');
    src: url('../fonts/roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic.woff') format('woff'),
         url('../fonts/roboto-bolditalic.ttf') format('truetype');
    font-weight: bold;

}




@font-face {
    font-family: 'roboto_cnregular';
    src: url('../fonts/roboto-condensed.eot');
    src: url('../fonts/roboto-condensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-condensed.woff') format('woff'),
         url('../fonts/roboto-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_cnitalic';
    src: url('../fonts/roboto-condenseditalic.eot');
    src: url('../fonts/roboto-condenseditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-condenseditalic.woff') format('woff'),
         url('../fonts/roboto-condenseditalic.ttf') format('truetype');
    font-weight: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic.eot');
    src: url('../fonts/roboto-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic.woff') format('woff'),
         url('../fonts/roboto-italic.ttf') format('truetype');
    font-weight: normal;

}




@font-face {
    font-family: 'roboto_ltregular';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light.woff') format('woff'),
         url('../fonts/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_ltitalic';
    src: url('../fonts/roboto-lightitalic.eot');
    src: url('../fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic.woff') format('woff'),
         url('../fonts/roboto-lightitalic.ttf') format('truetype');
    font-weight: normal;

}




@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/roboto-medium.eot');
    src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium.woff') format('woff'),
         url('../fonts/roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_ltbold_italic';
    src: url('../fonts/roboto-mediumitalic.eot');
    src: url('../fonts/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-mediumitalic.woff') format('woff'),
         url('../fonts/roboto-mediumitalic.ttf') format('truetype');
    font-weight: bold;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_thregular';
    src: url('../fonts/roboto-thin.eot');
    src: url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin.woff') format('woff'),
         url('../fonts/roboto-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_thitalic';
    src: url('../fonts/roboto-thinitalic.eot');
    src: url('../fonts/roboto-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thinitalic.woff') format('woff'),
         url('../fonts/roboto-thinitalic.ttf') format('truetype');
    font-weight: normal;

}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/robotoslab-bold.eot');
    src: url('../fonts/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-bold.woff') format('woff'),
         url('../fonts/robotoslab-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_slablight';
    src: url('../fonts/robotoslab-light.eot');
    src: url('../fonts/robotoslab-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-light.woff') format('woff'),
         url('../fonts/robotoslab-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab-regular.eot');
    src: url('../fonts/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular.woff') format('woff'),
         url('../fonts/robotoslab-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_slabthin';
    src: url('../fonts/robotoslab-thin.eot');
    src: url('../fonts/robotoslab-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-thin.woff') format('woff'),
         url('../fonts/robotoslab-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
  font-family: 'segoe_uil';
  src: url('../fonts/segoe-uil.eot');
  src: url('../fonts/segoe-uil.eot?#iefix') format('embedded-opentype'),
  url('../fonts/segoe-uil.woff') format('woff'),
  url('../fonts/segoe-uil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}