.block-result {
  position: absolute;
  bottom: 26px;
  left: 25px;
  right: 25px;
  width: 651px;
  height: 534px;
  background: #ffffff;
}
.block-result__container {
  position: relative;
}
.block-result__watermark {
  position: absolute;
  width: 651px;
  height: 534px;
  background: url(../files/watermark.png) no-repeat top left;
  opacity: 0.5;
  z-index: 20;
}
.block-result__original {
  position: absolute;
  width: 651px;
  height: 534px;
  background: url(../files/original.png) no-repeat center center;
  opacity: 1;
  z-index: 10;
}