.block-result {
  position: absolute;
  bottom: 26px;
  left: 25px;
  right: 25px;
  width: 651px;
  height: 534px;
  line-height: 534px;
  background: #ffffff;
}
.block-result__container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.block-result__watermark {
  position: absolute;
  width: 240px;
  height: 240px;
  //background: url(../files/watermark.png) no-repeat top left;
  opacity: 0.5;
  z-index: 20;
}
.block-result__watermark:hover, .block-result__watermark:focus {
  cursor: pointer;
}
.block-result__watermark-image{
  position: absolute;
  display: block;
}
.block-result__original {
  position: absolute;
  width: 651px;
  height: 534px;
  background: url(../files/original.png) no-repeat center center;
  opacity: 1;
  z-index: 10;
}