mixin block-result
	.block-result
		.block-result__container
			.block-result__watermark
				img(src="files/watermark.png" id="watermark-image" class="block-result__watermark-image")
			.block-result__original
				img(src="files/original.png" id="original-image" class="block-result__original-image")