mixin block-upload
	.block-upload.block
		.block-upload__title Исходное изображение
		.block-upload_input-container
			div.block-upload__input-imitation Image.jpg
			input(class="block-upload__input-main" name="files[]" type="file" data-url="php/")
		.block-upload__title Водяной знак
		.block-upload_input-container
			div.block-upload__input-imitation Image.png
			input(class="block-upload__input-watermark" name="files[]" type="file" data-url="php/")