mixin block-upload
	.block-upload
		.block-upload__image-title Исходное изображение
			
		.block-upload_image-file(value="Image.png")
			.upload-button
				input(type="file",accept="image/*")
	

		.block-ulpoad__watermark-title Водяной знак
		.block-upload_image-file
				.upload-button
					input(type="file",accept="image/*")

