.block-upload {
  padding: 16px 19px 0;
  height: 151px;
  background-image: none;
  @include clearfix;
}
.block-upload__title {
  font: 14px/14px roboto_ltregular;
  color: #2e3641;
  margin-bottom: 9px;
}
.block-upload_input-container {
  position: relative;
  margin: 0 0 24px;
}
.block-upload_input-container:after {
  position: absolute;
  overflow: hidden;
  content: '';
  right: 0;
  top: 0;
  bottom: 0;
  width: 39px;
  background: url(../img/upload-icon.png) no-repeat center #F97E76;
  @include border-right-radius(3px);
  z-index: 20;
}
.block-upload__input-original-imitation, .block-upload__input-watermark-imitation {
  position: relative;
  color: #9eb2c0;
  font: 12px/22px segoe_uil;
  height: 27px;
  padding: 0 5px;
  border: 1px solid #9EB2C0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.block-upload__input-original, .block-upload__input-watermark {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 30;
}

// Модальное окно ошибок
.block-upload-size-error {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}