mixin block-upload
	.block-upload.block
		.block-upload__title Исходное изображение
		.block-upload_input-container
			span.block-upload__button
			input.block-upload__input
		.block-upload__title Водяной знак
		.block-upload_input-container
			span.block-upload__button
			input.block-upload__input